html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.logo {
    display: inline-block;
    
}

.container {
    width: 400px;
    margin-inline: ;
    
    
}
.logo img {
    max-width: 50px;
    max-width: auto;
    vertical-align: middle;
    
}

.taskField {
    margin: 25px;  
    
}

.bluff {
    margin-left: 60%;
    margin-top: 50%;  
    background: linear-gradient(135deg,  #201dad,#ef42f5);
    padding: 10px;
}


width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,  #201dad,#ef42f5);
    padding: 10px;